body{
    background-image: url("../assets/loki-multiverse.jpg");
    background-color: #ED1D24;
    background-size: cover;
    background-repeat: no-repeat;
}

.text{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}